/*
==================================
  CSS RESET
==================================
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
==================================
  ESTILIZAÇÃO GERAL
==================================
*/

:root {
    --cor-primaria: #070834;
    --cor-limpa: #0c0e70;
    --texto-principal: #ffffff;
    --acao: #007BFF;
    --fonte-principal: Arial, Helvetica, sans-serif;
    --fonte-secundaria: 'Times New Roman', Times, serif;
}

body {
  background-color: var(--cor-limpa);
}

.cabecalho {
  background-color: var(--cor-primaria);
  align-items: center;
  display: flex;
  justify-content: center;
  
}

