/*
==================================
  CSS RESET
==================================
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
==================================
  ESTILIZAÇÃO GERAL
==================================
*/

:root {
  --cor-primaria: #070834;
  --cor-limpa: #0c0e70;
  --texto-principal: #fff;
  --acao: #007BFF;
  --fonte-principal: Arial, Helvetica, sans-serif;
  --fonte-secundaria: 'Times New Roman', Times, serif;
}

html{
  font-size:62.5%; /*Tendo como base 16px o valor é 10px*/
}

body {
  background-color: var(--cor-limpa);
  width: 100vw;
  height: 100vh;
}

.cabecalho {
    background-color: var(--cor-primaria);
    color: var(--texto-principal);
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.cabecalho h1 {
    margin: 0;
    font-family: var(--fonte-principal);
    font-size: 3rem; 
    text-align: left;
}

.cabecalho nav ul {
    display: flex;          
    gap: 25px;               
    list-style-type: none;  
    margin: 0;
    padding: 0;
}

.cabecalho nav a {
    font-size: 1.6rem; 
    text-decoration: none;
    color: var(--texto-principal);
    font-family: var(--fonte-principal);
}

.cabecalho nav a:hover {
    text-decoration: underline;
}

/*
==================================
  ESTILIZAÇÃO DO CONTEÚDO DA MAIN
==================================
*/

main {
  background-color: var(--cor-limpa);
  color: var(--texto-principal);
  font-family: var(--fonte-secundaria);
}