* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}
   
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f9fafb;
    color: #222;
    line-height: 1.5;
}

.topo{
    background-color:rgb(187, 109, 109);
    color:rgb(191, 200, 216);
    padding: 1 rem 2 rem;

    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 1rem;
}

.topo h1{
    font-size: 2rem;
    text-align: justify;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1 rem;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  background: rgba(255,255,255,0.15);
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  transition: 0.3s;
}

.menu a:hover{
    background: rgb(238, 174, 174);
    color:bisque;
}